<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>Все пользователи</h1>
<table>
    <tr>
        <th>ИН    </th>
        <th>Имя пользователя </th>
        <th>Пароль </th>
        <th>Роль </th>
        <th>Имя </th>
        <th>Фамилия </th>
        <th>Возраст </th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roleSet}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td>
<!--            <a th:href="@{/admin/update-user(id=${user.id})}"> Изменить данные   </a>-->
            <form th:action="@{/admin/update-user}" th:method="GET">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button type="submit">Изменить данные</button>
            </form>
        </td>
        <td>
<!--            <a th:href="@{/admin/delete-user(id=${user.id})}"> Удалить пользователя  </a>-->
            <form th:action="@{/admin/delete-user}" th:method="POST">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button type="submit">Удалить</button>
            </form>

        </td>
    </tr>

</table>

<br>
<br>
<form th:action="@{/admin/add-user}" th:method="GET">
    <button type="submit">Добавить пользователя</button>
</form>

<br>
<br>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout" />
    </form>

</body>
</html>