<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update userr</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/update-user}" th:object="${user}">
    <br>
    <input type="hidden" th:field="*{id}" />
    <br>
    <label for="firstName">Имя пользователя: </label>
    <input type="text" th:field="*{username}" th:value="${user.getUsername()}" id="firstName">
    <br>
    <label for="password">Пароль: </label>
    <input type="password" th:field="*{password}" minlength="1" required id="password">
    <br>
    <label for="name">Имя: </label>
    <input type="text" th:field="*{lastName}" th:value="${user.getLastName()}" id="name">
    <br>
    <label for="surname">Фамилия: </label>
    <input type="text" th:field="*{email}" th:value="${user.getEmail()}" id="surname">
    <br>
    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" th:value="${user.getAge()}" id="age">
    <br>
    <div>
        <label for="role">Role:</label>
        <div>
            <input type="checkbox" id="userRole" name="role" value="ROLE_USER"/>
            <label for="userRole">User</label>
        </div>
        <div>
            <input type="checkbox" id="adminRole" name="role" value="ROLE_ADMIN"/>
            <label for="adminRole">Admin</label>
        </div>


    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>