<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/256/2362/2362779.png">
    <title>Admin panel</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <form class="text-white">
            <strong th:text="${authUser.getEmail()}">Email: </strong>
            <span th:text="|with roles: ${authUser.rolesToString()}|"/>
        </form>
        <input type=button class="btn btn-dark; text-secondary" value="Logout"
               onclick="window.location.href = '/logout'">

    </div>
</nav>

<div class="container-fluid" style="padding-top: 20px">
    <div class="row">
        <div class="col">
            <div class="row">
                <button class="btn btn-primary btn-lg btn-block; text-start" onclick="window.location.href = '/admin'">
                    Admin
                </button>
                <button class="btn btn-link btn-lg btn-block; text-start" onclick="window.location.href = '/user'">
                    User
                </button>
            </div>
        </div>
        <div class="container-fluid col-10 bg-light" style="padding-left: 20px">
            <div class="tab-content" id="homeTabContent">
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">

                    <h1>Admin panel</h1>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="usersTable-tab" data-bs-toggle="tab"
                                    data-bs-target="#usersTable" type="button" role="tab"
                                    aria-controls="usersTable" aria-selected="true">Users table
                            </button>
                            <button class="nav-link" id="newUser-tab" data-bs-toggle="tab"
                                    data-bs-target="#newUser" type="button" role="tab" aria-controls="newUser"
                                    aria-selected="false">New User
                            </button>
                        </div>
                    </nav>


                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                             aria-labelledby="usersTable-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="card-title">All users</h2>
                                </div>

                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${allUsers}">
                                            <td th:text="${user.getId()}"/>
                                            <td th:text="${user.getFirstName()}"/>
                                            <td th:text="${user.getLastName()}"/>
                                            <td th:text="${user.getAge()}"/>
                                            <td th:text="${user.getEmail()}"/>
                                            <td th:text="${user.rolesToString()}"/>
                                            <td>
                                                <a type="button" class="btn btn-info" data-bs-toggle="modal"
                                                   th:data-bs-target="${'#editModal'+ user.getId()}">Edit</a>
                                            </td>
                                            <td>
                                                <a type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                   th:data-bs-target="${'#deleteModal'+ user.getId()}">Delete</a>
                                            </td>

                                            <div class="modal" tabindex="-1" th:id="${'editModal'+ user.getId()}"
                                                 role="dialog"
                                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body col-6 mx-auto text-center">
                                                            <form th:action="@{/admin/users/{id}(id=${user.getId})}"
                                                                  th:object="${user}" th:method="POST">
                                                                <div class="modal-body col-md text-center">
                                                                    <br>
                                                                    <label for="id"><b>ID</b></label>
                                                                    <label for="id"></label>
                                                                    <input th:name="id" th:type="text"
                                                                           class="form-control"
                                                                           id="id" th:value="*{id}" disabled/>
                                                                    <br>
                                                                    <label for="firstName"><b>First name</b></label>
                                                                    <input th:name="firstName" th:type="text"
                                                                           class="form-control" id="firstName"
                                                                           th:value="*{firstName}"/>
                                                                    <br>
                                                                    <label for="lastName"><b>Last name</b></label>
                                                                    <input th:name="lastName" th:type="text"
                                                                           class="form-control" id="lastName"
                                                                           th:value="*{lastName}"/>
                                                                    <br>
                                                                    <label for="age"><b>Age</b></label>
                                                                    <input th:name="age" th:type="number"
                                                                           class="form-control" id="age"
                                                                           th:value="*{age}"/>
                                                                    <br>
                                                                    <label for="email"><b>Email</b></label>
                                                                    <input th:name="email" th:type="email"
                                                                           class="form-control" id="email"
                                                                           th:value="*{email}"/>
                                                                    <br>
                                                                    <label for="password"><b>Password</b></label>
                                                                    <input th:name="password" type="password"
                                                                           class="form-control" id="password"/>
                                                                    <br>
                                                                    <label><b>Role</b></label>
                                                                    <select class="form-control form-control-sm"
                                                                            name="roleSet" multiple
                                                                            th:value="*{roleSet}"
                                                                            style="height: 50px; width: 185px; margin: 0 auto">
                                                                        <option th:each="role : ${roles}"
                                                                                th:selected="${role.getAuthority()}"
                                                                                th:value="${role.getId()}"
                                                                                th:text="${role.toString()}">
                                                                        </option>
                                                                    </select>
                                                                    <br><br>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">Edit
                                                                    </button>
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">
                                                                        Close
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal fade" tabindex="-1" th:id="${'deleteModal'+user.getId()}"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body col-6 mx-auto text-center">
                                                            <form th:action="@{/admin/users/{id}(id=${user.getId})}"
                                                                  th:object="${user}" th:method="GET">
                                                                <div class="modal-body col-md text-center">
                                                                    <br>
                                                                    <label for="id1"><b>ID</b></label>
                                                                    <input th:name="id" th:type="text"
                                                                           class="form-control"
                                                                           id="id1" th:value="*{id}" disabled/>
                                                                    <br>
                                                                    <label for="firstName1"><b>First name</b></label>
                                                                    <input th:name="firstName" th:type="text"
                                                                           class="form-control"
                                                                           id="firstName1" th:value="*{firstName}"
                                                                           disabled/>
                                                                    <br>
                                                                    <label for="lastName1"><b>Last name</b></label>
                                                                    <input th:name="lastName" th:type="text"
                                                                           class="form-control" id="lastName1"
                                                                           th:value="*{lastName}" disabled/>
                                                                    <br>
                                                                    <label for="age1"><b>Age</b></label>
                                                                    <input th:name="age" th:type="number"
                                                                           class="form-control" id="age1"
                                                                           th:value="*{age}" disabled/>
                                                                    <br>
                                                                    <label for="email1"><b>Email</b></label>
                                                                    <input th:name="email" th:type="email"
                                                                           class="form-control" id="email1"
                                                                           th:value="*{email}" disabled/>
                                                                    <br>
                                                                    <label><b>Role</b></label>
                                                                    <select class="form-control form-control-sm"
                                                                            name="roleSet" multiple
                                                                            th:value="*{roleSet}"
                                                                            style="height: 50px; width: 185px; margin: 0 auto">
                                                                        <option th:each="role : ${roles}"
                                                                                th:selected="${role.getAuthority()}"
                                                                                th:value="${role.getId()}"
                                                                                th:text="${role.toString()}">
                                                                        </option>
                                                                    </select>
                                                                    <br>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-danger">Delete
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Add new user</h3>
                                </div>

                                <div class="card-body col-4 mx-auto text-center">
                                    <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                                        <div class="form-group">
                                            <label for="nameNew"><b>First name</b></label>
                                            <input th:name="firstName" th:value="*{firstName}" type="text"
                                                   class="form-control" id="nameNew"/>
                                            <br>
                                            <label for="lastNameNew"><b>Last name</b></label>
                                            <input th:name="lastName" th:value="*{lastName}" type="text"
                                                   class="form-control" id="lastNameNew"/>
                                            <br>
                                            <label for="ageNew"><b>Age</b></label>
                                            <input th:name="age" th:type="number" th:value="*{age}" type="number"
                                                   class="form-control" id="ageNew"/>
                                            <br>
                                            <label for="emailNew"><b>Email</b></label>
                                            <input th:name="email" th:value="*{email}" type="email" class="form-control"
                                                   id="emailNew"/>
                                            <br>
                                            <label for="passwordNew"><b>Password</b></label>
                                            <input th:name="password" th:value="*{password}" type="password"
                                                   class="form-control"
                                                   id="passwordNew"/>
                                            <br>
                                            <label class="control-label"><b>Role</b></label>
                                            <br/>
                                            <select class="form-control form-control-sm" name="roleSet" multiple
                                                    style="height: 50px; width: 300px; margin: 0 auto">
                                                <option th:each="role : ${roles}"
                                                        th:value="${role.getId()}"
                                                        th:text="${role.toString()}"
                                                        th:selected="${role.getAuthority()}">
                                            </select>
                                            <br>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>