<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Страница пользователя</h1>
<div id="content">
    <table>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Возраст</td>
            <td>Роль</td>
        </tr>
        <tr th:object="${user}">
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getRoleSet()}"></td>

        </tr>
    </table>
</div>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</body>
</html>